/* Import Lard */
.lard-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 100%;
}

.lard-container-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.lard-container-row__col {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  background-color: cornflowerblue;
  border: 1px solid darkslategray;
  height: 3em;
}

.lard-container-row__col--half {
  flex: 0 0 50%;
  max-width: 50%;
  background-color: red;
}

.lard-container-row__col--300 {
  flex-basis: 300px;
  max-width: 300px;
  align-self: flex-end;
}
