@charset "UTF-8";

@mixin lard-row($flex-wrap:$lard-row--flex-wrap) {
  display: flex;
  flex-wrap: $flex-wrap;

  margin: {
    right: $lard-span--garter * -1;
    left: $lard-span--garter * -1;
  }

  @content;
}